.box {
    margin-top: 5%;
    position: absolute;
    width: 91%;
    margin-left: 3%;
    padding: 3%;
    background: #fff;
}

#compyNumber {
    margin-left: 5px;
}

 .row {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding: 0 4px;
 }

 .feedback-container {
     min-height: 1rem;
 }

 .input-item {
     margin-bottom: 0.5rem;
     width: 100%;
 }

 .d-flex {
     display: flex;
 }

 .d-flex-column {
     display: flex;
     flex-direction: column;
 }

 .d-flex-row {
     display: flex;
     flex-direction: row;
 }

 .d-flex-row-center {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .d-flex-column-center {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .d-flex-column-center-center {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 /* inline*/
 .d-flex-inline {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 button {
    width: 100% !important;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.5px solid #444;
    border-radius: 5px;
    background: #464646;
    color: #fff;

 }